#container {
	width: 500px;
	margin: auto;
	min-height: 400px;
	background-color: #5B83AD;
	padding: 1em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#container h1 {
font-family: Garamond, serif;
line-height: 1em;
color: #fff;
font-weight:bold;
font-size: 62px;
text-align: center;
}

form {
	width: 500px;
	height: 200px;
	margin: auto;
	text-align: center;
}

textarea {
	width: 450px;
	height: 140px;
	margin-top: 20px;
}

button#submit:hover {
	cursor: pointer;
}

#messageboard {
	margin-top: 20px;
}

.message p {
	word-wrap:break-word;
}

.message p.text {
	margin: 0;
	margin-top: 40px;
}

.message p.time {
	margin: 0;
	text-align: left;
	width: 300px;
	float: left;
	color: black;
}

.message {
	background-color: #DDECEF;
	width: 500px;
	min-height: 50px;
	margin-top: 20px;
	border: 1px solid black;
	padding: 5px;
}

.messageCount {
	text-align: right;
}

.messageButton {
	float: right;
}

.messageButton:hover {
	opacity:0.6;
	cursor: pointer;
}