body {
	background-image:url('../pics/background.png');
}

#taskbar {
	width: 100%;
	height: 50px;
	background: rgba(51, 102, 153, .7);
	position: absolute;
	bottom: 0;
}

#icon img {
	margin-top: 10px;
	margin-left: 20px;
}

#icon img:hover {
	opacity: 0.5;
	cursor: pointer;
}

#window {
	position:absolute;
    max-height:100%;
	margin: 20px;
	width: 500px;
	height: 500px;
	background-color: white;
	border: 5px solid #5B83AD;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 4px 4px 7px 0px rgba(50, 50, 50, 0.33);
	-moz-box-shadow:    4px 4px 7px 0px rgba(50, 50, 50, 0.33);
	box-shadow:         4px 4px 7px 0px rgba(50, 50, 50, 0.33);
}

.closeButton {
	float: right;
	width: 16px;
	opacity: 0.5;
}

.closeButton:hover {
	opacity: 1;
	cursor: pointer;
}

.windowHeader {
	height: 40px;
	background-color: #5B83AD;
}

.windowIcon {
	margin-left: 5px;
	margin-top: 5px;
	width: 24px;
}

.windowHeader span {
	margin-left: 5px;
	vertical-align: 6px;
	color: white;
	font-family: Verdana, sans-serif;
}

.statusField {
	width: 100%;
	height: 30px;
	background-color: #5B83AD;
	position: absolute;
}

.thumbnail {
	padding: 2em;
	padding-left: 3em;
	padding-right: 3em;
	background: rgba(51, 102, 153, .1);
	margin: 30px;
	display: inline-block;
	border: 1px outset black;
	-webkit-box-shadow: 4px 4px 7px 0px rgba(50, 50, 50, 0.33);
	-moz-box-shadow:    4px 4px 7px 0px rgba(50, 50, 50, 0.33);
	box-shadow:         4px 4px 7px 0px rgba(50, 50, 50, 0.33);
	cursor: pointer;
}

.thumbnail img {
	display: block;
	margin: 0 auto;
	position:relative;
}

#gallery {
	height: 430px;
	position: relative;
	overflow-y: auto;
}

.loading {
margin-left: 20px;
margin-top: 8px;
color: white;
}