#form {
	margin-top: 100px;
	width: 500px;
}

.error {
 color: red;
 margin-left: 320px;
 float: left;
 margin-top: -30px;
}

#form input {
	width: 300px;
}

#form select {
	width: 300px;
}

.modalpop {
	position:absolute;
	top:50px;
	left: 25%;
	width: 600px;
	height: 400px;
	z-index: 100;
	background-color: green;
}

.faded .modalkim {
	opacity: 1;
}

#container {
	margin: 0 auto;
	width: 99%;
}

.faded {
	opacity: 0.2;
}